$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px; 

$MainColour: #2F3E46;
$Fourth: #84A98C;
$OffWhite: #CAD2C5;
$White: #FFFFFF;
$Black: #000000;


$SecondaryColour: #354F52;
$Third: #354F52;

$buttonRadius: 4px;
$CircleButton: 2rem;